/* Estilos gerais */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #FCFCFC;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #90A4AE;
  padding: 10px;
  flex-wrap: wrap; /* Adiciona para quebrar a linha em telas menores */
}

header > a {
  padding-left: 64px;
  padding: 16px 255px 16px 64px;
  margin-right: 50px;
}

.form-header {
  padding: 44px 0px;
  margin-left: 50px;
}

.search-bar {
  width: 576px;
  display: flex;
}

.input-search {
  width: 526px;
  height: 39px;
  border: 1px solid #4F86C6;
  border-right: 2px solid #808080;
  border-radius: 8px 0px 0px 8px;
  padding-right: 2px;
  padding-left: 15px;
  font-size: 18px;
}

.input-search:focus {
  outline: none;
}

.button-search {
  border: 1px solid #4F86C6;
  border-left: none;
  border-radius: 0px 8px 8px 0px;
}

.fa-magnifying-glass {
  font-size: 28px;
  width: 48px;
  height: 32px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #FCFCFC;
  color: #5178A8;
}

.fa-magnifying-glass:hover {
  cursor: pointer;
}

nav {
  height: 60px;
  padding-right: 60px;
  display: flex;
  margin-left: auto;
}

.button-enter {
  width: 117px;
  height: 38px;
  border-radius: 8px;
  border: none;
  background-color: #66A0CB;
  color: #FFFFFF;
  margin-left: 28px;
  margin-top: 11px;
  font-family: "Poppins", sans-serif;
  transition: background-color 400ms ease;
  cursor: pointer;
}

.button-enter:hover {
  background-color: #4FB0C6;
}

.button-profile {
  display: inline-block;
  height: 50px;
  width: 50px;
  margin-left: 28px;
  margin-top: 5px;
  padding-bottom: 9px;
  border: 1px solid #66A0CB;
  border-radius: 50%;
}

.fa-user {
  margin-top: 5px;
  font-size: 32px;
  color: #66A0CB;
  transition: color 300ms;
}

.fa-user:hover {
  color: #0067B8;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  border: 1px solid #ccc;
  background: #fff;
  position: absolute;
  z-index: 10;
  width: 31%;
  max-height: 150px;
  overflow-y: auto;
  border-radius: 8px;
}

.suggestions-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
